{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="card">
	<div class="card-body">
	  <p class="card-title display-5">
			Login
		</p>
		<form method="POST">
			{% csrf_token %}

			<label for="username" class="form-label mt-3">Username:</label>
			{{ form.username }}
			{% if form.username.errors %}
				<div class="invalid-feedback d-block">
					{{ form.username.errors }}
				</div>
			{% endif %}

			<label for="password" class="form-label mt-3">Password:</label>
			{{ form.password }}
			{% if form.password.errors %}
				<div class="invalid-feedback d-block">
					{{ form.password.errors }}
				</div>
			{% endif %}

			<button class="btn btn-success mt-3">Login</button>
			<a href="{% url 'home' %}">
				<button class="btn btn-danger mt-3">Cancel</button>
			</a>
		</form>
	</div>
</div>
{% endblock %}